<form id="category-table-form" class="form clear" action="" method="post">
    <table id="category-table" class="table main960">
        <thead>
        <tr>
            <th class="radio-col"></th>
            <th>Id</th>
            <th>名称</th>
            <th>缩略名</th>
            <th>分类简介</th>
            <th>文章数</th>
            <th class="opt"></th>
        </tr>
        </thead>
        <tbody>{{range .Categories}}
        <tr>
            <td class="radio-col"><input class="chk" type="radio" name="category" value="{{.Id}}" required="required"/></td>
            <td>{{.Id}}</td>
            <td>{{.Name}}<a class="view" href="/category/{{.Slug}}/" target="_blank"><i class="fa fa-external-link"></i></a></td>
            <td>{{.Slug}}</td>
            <td>{{.Description}}</td>
            <td><span class="msg blue">{{.Counts}}</span></td>
            <td>
                <a class="msg green" href="/admin/category/edit/{{.Id}}.html">编辑</a>
            </td>
        </tr>{{end}}
        </tbody>
    </table>
    <div id="category-move" class="main960">
        选中分类移动到 <select class="select" name="move" id="move">{{range .Categories}}
            <option value="{{.Id}}">{{.Name}}</option>{{end}}
        </select>，然后
        <button id="category-move-submit" class="msg red">删除</button>
    </div>
</form>
<script>
    $(document).ready(function(){
       initCategoryTable();
    });
</script>