<div id="comment-list-container" class="main960">
    <h5>所有评论</h5>{{range .Comments}}
    <div class="comment-item clear" id="comment-{{.Id}}">
        <img class="avatar left" src="{{.Avatar}}" alt="{{.Author}}" title="{{.Author}}"/>
        <p class="meta">
            <span class="msg author {{if eq .Status "approved"}}blue{{else}}gray{{end}}">{{.Author}}{{if .Site}}
            <a class="author-link fa fa-external-link-square" href="{{.Site}}" target="_blank"></a>{{end}}</span>
            <span class="email">{{.Email}}</span>
            <span class="create-time">{{DateInt64 .CreateTime "MM.DD HH:mm"}}</span>{{if .ContentNode}}
            <span class="relate-content">@{{.ContentNode.Title}} {{if .ContentNode.Link}}<a class="content-link fa fa-external-link" href="{{.ContentNode.Link}}" target="_blank"></a>{{end}}</span>{{end}}
            <span class="opt">
                <a class="reply msg blue" href="#" rel="{{.Id}}"><i class="fa fa-reply"></i>回复</a>{{if eq .Status "approved"}}
                <a class="spam msg gray" href="#" rel="{{.Id}}"><i class="fa fa-thumbs-o-down"></i>收回</a>{{else}}
                <a class="approve msg green" href="#" rel="{{.Id}}"><i class="fa fa-thumbs-o-up"></i>审核</a>{{end}}
                <a class="del msg red" href="#" rel="{{.Id}}"><i class="fa fa-times"></i>删除</a>
            </span>
        </p>
        <section class="content">{{if gt .Pid 0}}{{if .Parent}}
            <span class="parent">@{{.Parent.Author}}</span>{{else}}<span class="msg gray parent-invalid">@无效</span>{{end}}{{end}}{{Html .Content}}</section>
    </div>{{end}}
    <ul id="comment-pager" class="pager">{{range .Pager.PageSlice}}
        <li class="item{{if eq $.Pager.Current .}} current{{end}}"><a href="/admin/comment/page/{{.}}">{{.}}</a></li>{{end}}
    </ul>
</div>
<script>
    $(document).ready(function () {
        $('#comment-list-container').on("click", ".approve",function (e) {
            e.preventDefault();
            var id = $(this).attr("rel");
            $.post("/admin/comment/status", {"id": id, "status": "approved"}, function (json) {
                if (json.res) {
                    var $c = $('#comment-' + id);
                    $c.find(".author").removeClass("gray").addClass("blue");
                    $c.find(".approve").remove();
                } else {
                    if (json.msg) {
                        alert(json.msg);
                    }
                }
            });
        }).on("click", ".spam",function (e) {
                    e.preventDefault();
                    var id = $(this).attr("rel");
                    $.post("/admin/comment/status", {"id": id, "status": "spam"}, function (json) {
                        if (json.res) {
                            var $c = $('#comment-' + id);
                            $c.find(".author").removeClass("blue").addClass("gray");
                            $c.find(".spam").remove();
                        } else {
                            if (json.msg) {
                                alert(json.msg);
                            }
                        }
                    });
                }).on("click", ".del", function (e) {
                    if(!confirm("删除评论将使回复无效？确认继续？")){
                        return false;
                    }
                    e.preventDefault();
                    var id = $(this).attr("rel");
                    $.post("/admin/comment/delete", {"id": id}, function (json) {
                        if (json.res) {
                            $('#comment-' + id).remove();
                        } else {
                            if (json.msg) {
                                alert(json.msg);
                            }
                        }
                    });
                });
    });
</script>