<form class="form clear" id="password-form" action="" method="post">
    <h4>修改登录密码</h4>
    <p class="item">
        <label for="old">旧密码</label>
        <input id="old" class="ipt" type="password" name="old" required="required"/>
    </p>
    <p class="item">
        <label for="new">新密码</label>
        <input id="new" class="ipt" type="password" name="new" required="required"/>
    </p>
    <p class="item">
        <label for="confirm">确认密码</label>
        <input id="confirm" class="ipt" type="password" name="confirm" required="required"/>
    </p>
    <p>
        <button class="btn" type="submit" id="password-submit">更新密码</button>{{if .Update}}
        <span class="btn green">密码已更新</span>{{end}}{{if .Error}}
        <span class="btn red">更新失败</span>{{end}}
    </p>
</form>