{{template "header.html" .}}
<div class="container" id="admin-main">
    <header class="clear" id="user-manage-header">
        <h4 class="left">用户管理</h4>
        <a class="btn left" id="article-add" href="/admin/user/new">添加新用户</a>
    </header>
    <form id="user-manage-list" class="form" action="">
        <table class="table">
            <thead>
            <tr>
                <td class="check"></td>
                <td class="user">登录名</td>
                <td class="nick">显示昵称</td>
                <td class="email">邮箱</td>
                <td class="role">角色</td>
                <!--<td class="articles">文章数</td>-->
            </tr>
            </thead>
            <tbody>{{range .Users}}
            <tr>
                <td class="check"><input class="chk" type="checkbox" name="user" value="{{.Id}}"/></td>
                <td class="user clear">
                    <img src="{{.Avatar}}" alt="" class="avatar left"/>
                    <a href="/admin/user/edit?id={{.Id}}">{{.LoginName}}</a>
                </td>
                <td class="nick">{{.NickName}}</td>
                <td class="email"><a href="mailto:{{.Email}}">{{.Email}}</a></td>
                <td class="role">{{.RoleName}}</td>
                <!--<td class="articles">12</td>-->
            </tr>{{end}}
            </tbody>
        </table>
        <p class="item">
            <span class="opt">选中项目：&nbsp;&nbsp;<a class="trash" href="#"><i class="fa fa-inbox"></i>回收</a></span>
        </p>
    </form>
</div>
{{template "footer.html" .}}
</body>
</html>