{{template "header.html" .}}
<div id="main">
    <div class="container clear">
        <div id="article-list" class="left">{{range .Articles}}
            <article class="article {{.StatusText}}" id="article-{{.Id}}">
                <header class="title clear">
                    <h3 class="left"><a href="{{.Link}}">{{.Title}}</a></h3>{{if lt .Comments 0}}
                    <sup class="left"><a class="comment left" href="{{.Link}}#comment">{{.Comments}}</a></sup>{{end}}
                </header>
                <aside class="info">
                    <span class="time"><i class="fa fa-clock-o"></i>{{DateInt64 .CreateTime "MM.DD"}}</span>
                    <span class="author"><i class="fa fa-user"></i><a href="#">{{.Author.DisplayName}}</a></span>
                    <span class="category"><i class="fa fa-asterisk"></i><a href="#">{{.Category.Name}}</a></span>
                    <span class="view"><i class="fa fa-meh-o"></i>阅读 {{.Views}} 次</span>
                </aside>
                <section class="markdown-content excerpt">{{.Excerpt}}</section>
            </article>{{end}}
            <div id="article-list-page" class="page">{{.ArticleCounter.Html "/article/" | RawHtml}}</div>
        </div>
        <div id="article-sidebar" class="right">
            <div class="side" id="article-category" >
                <h4 class="title">分类目录</h4>
                <ul class="cnt">{{range .Categories}}
                    <li><a href="{{.Link}}">{{.Name}}</a><span>{{.Articles}}</span></li>{{end}}
                </ul>
            </div>
            <div class="side" id="article-pop">
                <h4 class="title">热评文章</h4>
                <ul class="cnt">
                    <li><a href="#">JAVA折腾微信公众平台（Token验证）</a><span>12</span></li>
                    <li><a href="#">亲爱的，你们好吗？</a><span>9</span></li>
                    <li><a href="#">Database</a><span>4</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}
<script type="text/javascript" src="/public/js/marked.js"></script>
</body>
</html>