{{template "header.html" .}}
<div class="container" id="admin-main">
    <header class="clear" id="article-manage-header">
        <h4 class="left">文章管理</h4>
        <a class="btn left" id="article-add" href="/admin/article/new">撰写新文章</a>
        <!--<form id="article-search" class="right" action="">
            <input class="ipt left" type="search"/>
            <button class="btn left green">搜索</button>
        </form>-->
    </header>
    <form id="article-manage" class="form" action="">
        <ul id="article-manage-list">{{range .Articles}}
            <li class="clear">
                <span class="comment right"><i class="fa fa-comment fa-lg"></i> {{.Comments}}</span>
                <input class="chk left" type="checkbox" name="article" value="{{.Id}}"/>{{if ne .StatusText "publish"}}
                <span class="status left">[{{.Status}}]</span>{{end}}
                <h4 class="left"><a href="/admin/article/edit?id={{.Id}}">{{.Title}}</a></h4>
                <p class="left">作者： <a href="#">{{.Author.DisplayName}}</a> 分类： <a href="#">{{.Category.Name}}</a>
                    发布于：{{DateInt64 .CreateTime "MM月DD日 HH:mm"}}
                    <span class="opt"><a href="/admin/article/edit?id={{.Id}}" class="edit"><i class="fa fa-edit"></i>编辑</a>
                        <a class="trash" href="/admin/article/trash?id={{.Id}}"><i class="fa fa-inbox"></i>回收</a>
                        {{if ne .StatusText "draft"}}<a class="view" href="{{.Link}}" target="_blank"><i class="fa fa-eye"></i>浏览</a>{{end}}
                    </span>
                </p>
            </li>{{end}}
            <li class="clear">
                <!--<span class="opt left">
                    选中项目：&nbsp;&nbsp;<a class="trash" href="#"><i class="fa fa-inbox"></i>回收</a>
                </span>-->
                <span class="page left">{{.ArticleCounter.Html "/admin/article/" | RawHtml}}</span>
            </li>
        </ul>
    </form>
</div>
{{template "footer.html" .}}
</body>
</html>