{{template "header.html" .}}
<div class="container" id="admin-main">
    <h4>添加文章</h4>
    <form id="article-form" class="clear form" action="">
        <div class="article-form-main left">
            <p class="item">
                <input class="title ipt" type="text" name="title" placeholder="输入文章标题" required="required"/>
            </p>
            <p class="item">
                <textarea class="ipt content" name="content" id="article-content"></textarea>
                <span class="tip">使用 [break] 截断内容，前半部分将作为全文的概述。</span>
            </p>
        </div>
        <div class="article-form-side right">
            <div class="panel">
                <p class="title">发布或保存</p>
                <div class="body">
                    <p class="item">
                        <i class="fa fa-bookmark-o"></i>
                        <label for="article-status">状态</label>
                        <select class="select clean" name="status" id="article-status">
                            <option value="public">直接发布</option>
                            <option value="draft">草稿箱</option>
                            <option value="archive">归档</option>
                        </select>
                    </p>
                    <p>
                        <i class="fa fa-comment-o"></i>
                        <label for="article-status">评论状态</label>
                        <select class="select clean" name="comment" id="article-comment">
                            <option value="public">允许</option>
                            <option value="draft">关闭</option>
                        </select>
                    </p>
                </div>
                <p class="foot clear">
                    <a id="article-preview" class="left" href="#">预览</a>
                    <button class="right btn" id="article-publish">发布</button>
                </p>
            </div>
            <div class="panel">
                <p class="title">选择分类</p>
                <div class="body">
                    <i class="fa fa-asterisk"></i>
                    <label for="article-category">分类</label>
                    <select class="select clean" name="status" id="article-category">
                        <option value="public">直接发布</option>
                        <option value="draft">草稿箱</option>
                        <option value="archive">归档</option>
                    </select>
                </div>
            </div>
            <div class="panel">
                <p class="title require">缩略名</p>
                <div class="body">
                    <i class="fa fa-link"></i>
                    <input id="article-slug" class="ipt lined" type="text" required="required" placeholder="输入缩略名"/>
                    <span class="tip">缩略名用于生成友好的链接，不支持中文字符和特殊符号</span>
                </div>
            </div>
        </div>
    </form>
</div>
{{template "footer.html" .}}
<script type="text/javascript" src="/public/js/bootstrap-markdown.js"></script>
<script type="text/javascript" src="/public/js/marked.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#article-content").markdown({
            autofocus:false,
            savable:false,
            onPreview: function (e) {
                var content = marked(e.getContent(), {
                    breaks: true
                });
                return content;
            }
        });
    })
</script>
</body>
</html>