<form id="setting-form" class="form form-align custom" action="/admin/setting/custom/" method="post">{{range $k,$v := .Settings}}
    <p class="item">
        <input class="ipt key" type="text" name="key" value="{{$k}}"/>&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="value" class="ipt value" type="text" value="{{$v}}"/>
        <a class="del" href="#"><i class="fa fa-times"></i></a>
    </p>{{end}}
    <p>
        <button class="btn btn-blue">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="lbl lbl-green add" href="#">添加一项</a>
        <span class="tip block">使用函数自定义配置，需要加前缀"c_"，如GetSetting("c_key")</span>
    </p>
    <script type="text/template" id="custom-item">
        <p class="item">
            <input class="ipt key" type="text" name="key" placeholder="字段名"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="value" class="ipt value" type="text" placeholder="字段值"/>
            <a class="del" href="#"><i class="fa fa-times"></i></a>
        </p>
    </script>
</form>
<script>
    $(function () {
        $('#setting-form').ajaxForm(function (json) {
            alert(json.res ? "已保存" : json.msg);
        });
        $('.add').on("click",function(e){
            e.preventDefault();
            $('#setting-form').prepend($("#custom-item").html());
        });
        $('.del').on("click",function(e){
            e.preventDefault();
            if(confirm("要删除这项？")){
                $(this).parent().remove();
            }
        })
    })
</script>