<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>{{.Title}} - GoRink</title>
    <link rel="stylesheet" href="/public/css/admin.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/public/css/font-awesome.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/admin.js"></script>
</head>
<body>
<header id="header" class="header">
    <div class="container clear">
        <h4 class="left" id="go-rink">GoRink</h4>
        <nav id="nav" class="left" data-rel="{{.Rel}}">
            <ul class="nav">
                <li><a href="/admin/" rel="panel">控制台</a></li>
                <li><a href="/admin/article" rel="article">文章</a></li>
                <li><a href="/admin/category" rel="category">分类</a></li>
                <li><a href="/admin/page" rel="page">页面</a></li>
                <li><a href="/admin/comment" rel="comment">评论</a></li>
                <li><a href="/admin/file" rel="file">附件</a></li>
                <li><a href="/admin/link" rel="link">友链</a></li>
                <li><a href="/admin/user" rel="user">用户</a></li>
            </ul>
        </nav>
        <div id="header-bar" class="right clear">
            <a href="/admin/profile" class="left"><img src="{{.Flash.CurrentUserAvatar}}" alt="" id="admin-avatar"/></a>
            <a id="out" href="/login/out" class="left">退出</a>
        </div>
    </div>
</header>