<form id="setting-form" class="form form-align" action="/admin/setting/" method="post">
    <p class="item">
        <label for="site-url">根地址</label>
        <input id="site-url" class="ipt" type="url" name="site_url" required="required" value="{{Setting `site_url`}}"/>
    </p>
    <p class="item">
        <label for="site-title">主标题</label>
        <input id="site-title" class="ipt" type="text" name="site_title" required="required" value="{{Setting `site_title`}}"/>
    </p>
    <p class="item">
        <label for="site-sub-title">副标题</label>
        <input id="site-sub-title" class="ipt" type="text" name="site_sub_title" required="required" value="{{Setting `site_sub_title`}}"/>
    </p>
    <p class="item">
        <label for="site-keywords">关键字</label>
        <input id="site-keywords" class="ipt" type="text" name="site_keywords" value="{{Setting `site_keywords`}}"/>
        <span class="tip">出现在meta中</span>
    </p>
    <p class="item">
        <label for="site-desc">站点介绍</label>
        <input id="site-desc" class="ipt" type="text" name="site_description" value="{{Setting `site_description`}}"/>
        <span class="tip">出现在meta中</span>
    </p>
    <p class="item">
        <label for="article-size">单页文章</label>
        <input id="article-size" class="ipt" type="number" name="article_size" value="{{Setting `article_size`}}" max="10" min="3"/>
    </p>
    <p>
        <label>&nbsp;</label>
        <button class="btn btn-blue">保存</button>
        <label>&nbsp;</label>
        <a class="lbl lbl-green" href="/admin/setting/custom/">自定义配置</a>
    </p>
</form>
<script>
    $(function () {
        $('#setting-form').ajaxForm(function (json) {
            alert(json.res ? "已保存" : json.msg);
        });
    })
</script>