<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>{{if .Title}}{{.Title}} - {{end}}GoRink</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/public/css/font-awesome.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/main.js"></script>
</head>
<body class="{{.Rel}}-node">
<header id="header">
    <div class="container clear">
        <h1 id="logo" class="left"><a href="/">GoRink</a><sup>Go开发的程序</sup></h1>
        <nav id="nav" class="left">
            <ul>
                <li><a href="/"><i class="fa fa-home"></i>首页</a></li>
                <li><a href="/article">文章</a></li>
                <li><a href="/archive">归档</a></li>
                <li><a href="/about">关于</a></li>
                <li><a href="/friend">好友</a></li>
            </ul>
        </nav>
    </div>
</header>