<header class="cmd-header clear">
    <h1 class="cmd-title left">备份数据</h1>
    <form class="backup-setting left form" action="?set=true" method="post" data-setting="{{.BackupSettings}}">
        <label class="left">配置参数</label>
        <label class="left"><input type="checkbox" name="setting" value="static" class="checkbox"/>静态文件</label>
        <label class="left"><input type="checkbox" name="setting" value="data" class="checkbox"/>内容数据</label>
        <label class="left"><input type="checkbox" name="setting" value="upload" class="checkbox"/>上传数据</label>
        <label class="left"><input type="checkbox" name="setting" value="theme" class="checkbox"/>主题文件</label>
        <button class="btn btn-blue left" id="backup-setting-btn">保存</button>
    </form>
</header>
<ul class="cmd-list" id="backup-list">{{range .Files}}
    <li>
        <span class="time">{{DateTime .ModTime "MM.DD HH:mm"}}</span>
        <span class="name">{{.Name}} <a class="link" href="/cmd/backup/file?file={{.Name}}">下载</a></span>
        <span class="size">{{FileSize .Size}}</span>
        <a class="del" href="#" rel="{{.Name}}">删除</a>
    </li>{{end}}
    <li style="list-style: none"><button class="btn btn-blue" id="backup-btn">备份</button></li>
</ul>
<script src="/static/lib/jquery.form.min.js"></script>
<script>
    $(function () {
        var data = $("form").data("setting").toString().split(",");
        $(data).each(function(i,item){
           $('input[value='+item+']').attr("checked","checked");
        });
        $('#backup-btn').on("click", function () {
            $.ajax({
                type: "post",
                beforeSend: function () {
                    $('.cmd-list').prepend('<li class="backup-loading">备份中..</li>');
                    $('#backup-btn').hide();
                },
                success: function (json) {
                    if (json.res) {
                        $('.backup-loading').remove();
                        $('.cmd-list').prepend('<li class="backup-result">刚刚备份到 ' + json.file + '</li>');
                    } else {
                        alert(json.msg);
                    }
                    $('#backup-btn').show();
                }
            });
            return false;
        });
        $('.del').on("click", function () {
            var that = this;
            $.ajax({
                url: "/cmd/backup/?file=" + $(this).attr("rel"),
                type: "delete",
                success: function (json) {
                    if(json.res){
                        $(that).parent().remove();
                    }
                }
            });
            return false;
        });
        $('form.backup-setting').ajaxForm(function(json){
            if(json.res){
                alert("已保存");
            }else{
                alert(json.msg);
            }
        });
    })
</script>