<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>登录 - GoRink</title>
    <link rel="stylesheet" href="/public/css/login.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/public/css/font-awesome.css" type="text/css" media="all"/>
</head>
<body>
<form id="login-form" method="post" class="form">
    <h3>登录 - GoRink</h3>{{if .error}}
    <p class="item">
        <span class="alert">{{.error}}</span>
    </p>{{end}}
    <p class="item">
        <i class="fa fa-user fa-lg"></i>
        <input class="ipt" type="text" name="user" required="required" value="{{.user}}"/>
    </p>
    <p class="item">
        <i class="fa fa-key fa-lg"></i>
        <input class="ipt" type="password" name="password" required="required"/>
    </p>
    <p class="item">
        <button class="btn">Login</button>
        <span class="expire-msg">记住登录一周</span>
    </p>
</form>
</body>
</html>